{% extends 'nanny_maidapp/master.html' %}
{% load static %}
{% block content %}
<section class="cleaning-content-block about-us" id="about-us">
    <div class=container>
        <div class=row>
            <div class=col-lg-12>
                <div class="section-title text-center">
                    <h2>About Us</h2>
                    <p>We are Local, License and Insurance company!</p>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-lg-6>
                <div class=who-we-info>
                    <div class=single-info>
                        <i class="fa fa-users"></i>
                        <h4>Professional Staffs</h4>
                        <p>We make ourselves known in the community; we create long term relations, while constantly
                            expanding. Therefore, we are always bringing in more people to work for us.</p>
                    </div>
                    <div class=single-info>
                        <i class="fa fa-bath"></i>
                        <h4>First Class Service</h4>
                        <p>Our goal is Your satisfaction (of course after our cleaning work). Office Phone works
                            around the clock (24/7).</p>
                    </div>
                    <!-- <div class=single-info>
                        <i class="fa fa-shield"></i>
                        <h4>Verified and Secure</h4>
                        <p>Lorem ipsum dolor sit amet, esse aliquid liberavisse eos ea.</p>
                    </div> -->
                    <div class=single-info>
                        <i class="fa fa-cogs"></i>
                        <h4>Quality Cleaning Tools</h4>
                        <p>We carefully choose the best and most natural cleaning products that give amazing
                            results.</p>
                    </div>
                    <ul class=list-inline>
                        <li><img src="{% static 'assets/img/check.png' %}" alt=check> Creativity</li>
                        <li><img src="{% static 'assets/img/check.png' %}" alt=check> Experience</li>
                        <li><img src="{% static 'assets/img/check.png' %}" alt=check> Teamwork</li>
                        <li><img src="{% static 'assets/img/check.png' %}" alt=check> Result</li>
                    </ul>
                </div>
            </div>
            <div class=col-lg-6>
                <div class=promo-video>
                    <div class="promo-video-block promo-video-bg">
                        <a href="https://vimeo.com/43250124" class="promo-play-btn popup-vimeo">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}